<% include partials/header(start) %>
	<link rel="stylesheet" href="/stylesheets/navigation.css">

	<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="header">
						<h1>Sandra Jonsson</h1>
						<h3>Junior Web Developer</h3>
						<hr>
					</div>
				</div>
			</div>
		 </div>

	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
					   <img src="https://i.pinimg.com/564x/94/93/b8/9493b87ab98e06d8fb59d4c0f73d7787.jpg">
					   <div class="caption">
						   <h4>Parallax site</h4>
					   </div>
					   <p>
						   <a href="https://codepen.io/Avoctos/pen/BaaGzMN" class="btn btn-primary" target ="_blank">View<i class="fab fa-codepen"></i></a>
					   </p>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
					   <img src="https://i.pinimg.com/564x/2a/e5/fd/2ae5fd4cd431cc3a3b703bf932a22055.jpg">
					   <div class="caption">
						   <h4>Simple RGB Game</h4>
					   </div>
					   <p>
						   <a href="https://color-guessing-game.000webhostapp.com/" class="btn btn-primary" target ="_blank">View<i class="fas fa-external-link-alt"></i></a>
					   </p>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
					   <img src="https://i.pinimg.com/564x/28/09/32/280932d3634dc38802c4589a192fb97b.jpg">
					   <div class="caption">
						   <h4>The Gallery</h4>
					   </div>
					   <p>
						   <a href="/gallery" class="btn btn-primary">View</a>
					   </p>
					</div>
				</div>
			</div>

<% include partials/footer %>